body {
  color: blue;
  /* cursor: url(../assets/icons/cursor-default.png), auto !important; */
}

::selection {
  background: blue; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: blue; /* Gecko Browsers */
}

/* loader */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000;
}

#loader-wrapper .loader-section {
  top: 0;
}

/* Loaded */

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */

.no-js #loader-wrapper {
  display: none;
}

.no-js h1 {
  color: #000;
}

/* changement responsive */

@media (max-width: 600px) {
  .work-toggle-container {
    border-bottom: solid 1px blue;
    border-right: none !important;
    height: 50vh !important;
  }

  .about-toggle-container {
    height: 50vh !important;
  }

  .project-container, .text-container {
    border-left: none !important;
  }

  .about-close, .work-close {
    position: relative !important;
    top: 0;
    height: auto !important;
    border-bottom: solid 1px blue;
  }

  .fixed-cross {
    position: relative !important;
    top: 0;
  }

  #prototype {
    display: none;
  }
}

.site_header {}

/* Effet underline link */

a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 3px solid blue;
  transition: 0.4s;
}

a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 3px solid lime;
  transition: 0.4s;
}

a:hover {
  color: lime;
}

a:hover:after {
  width: 100%;
}

/* ajustement div images */

.project {
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* text img  */

.counter {
  float: right;
  clear: both;
}

.description {
  margin: 10px;
}

/* link toggle */

.work-toggle a {
  transition: all 100ms ease-in-out;
}

.work-toggle-container {
  border-right: solid 1px blue;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-cross {
  margin: auto;
  position: fixed;
}

.work-close, .about-close {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-toggle-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-container {
  border-left: solid 1px blue;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  margin: 20px 20px 10px 5px;
}

.text-container {
  border-left: solid 1px blue;
  font-size: 20px;
  line-height: 1.5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gif {
  display: none;
}

blockquote:hover+.gif {
  display: block;
  position: absolute;
}

blockquote {
  cursor: default;
}

p {
  margin: 10px 0 10px 0;
}

/* effet blur */

a:active, .work-toggle:active, .about-toggle:active {
  transform: scale(.95);
  filter: blur(2px);
}

a {
  position: relative;
  color: inherit;
  /* cursor: url(../assets/icons/cursor-default.png), auto !important; */
}

/* #image {
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
} */

.slider:hover {
  cursor: pointer;
}

/* Effet glitched hover framework */

.glitched:hover {
  -webkit-animation: glitch1 2.5s infinite;
  animation: glitch1 2.5s infinite;
}

span.glitched:hover {
  -webkit-animation: glitch1 1.5s infinite;
  animation: glitch1 1.5s infinite;
}

@-webkit-keyframes glitch1 {
  0% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  7% {
    -webkit-transform: skew(-0.5deg, -0.9deg);
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  27% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  30% {
    -webkit-transform: skew(0.8deg, -0.1deg);
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  52% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  55% {
    -webkit-transform: skew(-1deg, 0.2deg);
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  72% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  75% {
    -webkit-transform: skew(0.4deg, 1deg);
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch1 {
  0% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  7% {
    -webkit-transform: skew(-0.5deg, -0.9deg);
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  27% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  30% {
    -webkit-transform: skew(0.8deg, -0.1deg);
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  52% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  55% {
    -webkit-transform: skew(-1deg, 0.2deg);
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  72% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  75% {
    -webkit-transform: skew(0.4deg, 1deg);
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
